@import "tailwindcss";

body {
  background-color: rgb(249 250 251);
}

.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    background: white;
  }
}
